/* Generelle regler */

body {
  background-color: black;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #ffcc2a;
}

.active {
  border-bottom: 2px solid #f74a5a;
}

p {
  font-family: "Karla", sans-serif;
}

/* h1,
h3,
h4 {
  font-family: "helvetica", sans-serif;
} */

/* Generelle regler  slut */

/******* Menu  *******/

header {
  background-color: #0a0a0a;
}

.navigations_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burger_wrapper {
  height: 2rem;
  margin-right: 0.5rem;

  cursor: pointer;
}

#menuknap {
  position: relative;
  z-index: 101;
  width: 100%;
  height: auto;
}

/*  Burger ikon  */

.streg_1,
.streg_2,
.streg_3 {
  height: 2px;
  width: 3rem;
  border-radius: 999px;

  background: #ffcc2a;
  transition: transform 250ms;
  transform-origin: bottom;
  z-index: 101;
}
.streg_1 {
  transform: translateY(-0.5rem);
}

.streg_3 {
  transform: translateY(0.5rem);
}

#menuknap.kryds .streg_1 {
  transform: rotate(45deg) translateY(calc(50% + (2px / 2)));
}
#menuknap.kryds .streg_2 {
  transform: translateY(-500%);
  opacity: 0;
}
#menuknap.kryds .streg_3 {
  transform: rotate(-45deg) translateY(calc(50% - (2px / 2)));
}

.menu_logo {
  width: 15vw;
  margin: 1rem 0 2rem 2rem;
}

.user,
.cart {
  display: inline-block;
  max-width: 6rem;
  max-height: 10vw;
  margin: 5vh;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: black;

  z-index: 100;
  transition: 250ms;
}

.menu li {
  font-size: 5rem;
  margin-left: 4rem;
}
.logo_desktop {
  display: none;
}
.menu.hidden {
  transition: 250ms;
  transform: translateY(-100%);
}

/******* Dropdown *********/

.dropbtn {
  background-color: black;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #ffcc2a;
  border: none;
  cursor: pointer;
  font-size: 5rem;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #f74a5a;
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  margin-top: 2vh;
}

.dropdown-content a {
  color: #ffcc2a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 3rem;
  background-color: black;
}

.show {
  display: block;
}

/*..... breadcrumb ....... */
.breadcrumb {
  margin-left: 2rem;
  padding: 10px 16px;
  text-align: left;
  margin-top: 5rem;
}

.breadcrumb li {
  list-style: none;
  text-decoration: none;
  display: inline;
  font-size: 1rem;
  color: #f74a5a;
}

ul.breadcrumb li a {
  text-decoration: underline;
  color: #f74a5a;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #f74a5a;
  content: ">";
}

/******* Singleview *********/

#single {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pris {
  color: white;
}

h4 {
  color: white;
  font-size: 1rem;
}

#container {
  display: flex;
}

#number {
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: default;
}

#up {
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  border: 1px solid black;
  margin-right: 3rem;

  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
}
#ned {
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;

  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
}

#cart_button,
.popup_btn {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
  /* margin-bottom: 2rem; */
}

#shop {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;

  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
  margin-top: 1.5rem;
}
#cart {
  text-align: center;
  background-color: black;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;

  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
}

#produkt_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ui {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#h2_lignende {
  text-align: center;
  color: #ffcc2a;
  font-size: 1.3rem;
  margin-top: 7rem;
}

#oplysninger {
  text-align: center;
  color: #ffcc2a;
  font-size: 1.3rem;
}

#produkt_oplysninger {
  text-align: center;
}

.beskrivelse {
  color: white;
  margin-bottom: 3rem;
  font-size: 16px;
  line-height: 27px;
}

.pris_single {
  color: #ffcc2a;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.beskrivelse_dropdown {
  color: white;
  margin-inline: 10%;
}

#single_navn {
  color: #ffcc2a;
  text-align: center;
  font-size: 1.5rem;
}

.produkt_detaljer div {
  width: 23px;
  height: 5px;
  margin: 5px;
  background-color: #ffcc2a;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.line2 {
  transform: rotate(90deg) translate(0px, 33px);
}

h4 {
  color: black;
  font-size: 1.3rem;
}

#oplysninger_section {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.produkt_detaljer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

/* .....Pop up styling - header ......*/

.cart_indhold {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: white;
  width: 290px;
  height: 300px;
  z-index: 99;
}

#cart_img {
  width: 6rem;
  height: 6rem;
}

.top_row {
  display: grid;
  grid-template-columns: 100px 190px;
  margin-bottom: -1rem;
}

.bottom_row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  margin-top: -1rem;
}

hr {
  margin-bottom: 1rem;
  border: 0;
  height: 1px;
  background: #333;
  background-image: none;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 90%;
}

.stk_pris_total {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 1;
  padding-top: 4rem;
}

.levering_pris_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5rem;
}

.total_pris_text {
  display: flex;
  justify-content: space-between;
}

.total_pris_text p {
  font-weight: bold;
}

#levering_pris {
  padding-right: 1rem;
}

#antal_stk {
  font-size: 1rem;
}
#pris_total {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1rem;
}

#produkt_navn_cart {
  font-size: 1rem;
  padding-top: 1.8rem;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1;
}

#total {
  font-size: 1.3rem;
  font-weight: bold;
  padding-right: 1rem;
}

.bottom_row p {
  font-size: 1.3rem;
  padding-left: 1rem;
}

/* .....Pop up styling - main cart ......*/

.main_cart {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 105px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: white;
  height: 100vh;
  z-index: 99;

  display: none;
}

.main_cart_indhold {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  background-color: #f4f5f5;
  padding: 20px;
  width: 1110px;
  height: 500px;
}

.main_cart_indhold h4 {
  text-align: center;
  font-size: 1.4rem;
}

.cart_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.cart_section p {
  text-align: center;
}

#main_cart_img {
  grid-column: 1/2;
  grid-row: 2;
  width: 8rem;
  height: 8rem;
  margin-right: auto;
  margin-left: auto;
}

#produkt_navn_maincart {
  grid-column: 2/3;
  grid-row: 2;
}

#container_maincart {
  display: flex;
  grid-column: 3/4;
  grid-row: 2;
}

#container_maincart {
  display: flex;
}

#output {
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

#incre {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

#decre {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.counter_ui {
  grid-column: 3/4;
  grid-row: 2;
  margin-left: auto;
  margin-right: auto;
}

#produkt_pris_maincart {
  grid-column: 4/5;
  grid-row: 2;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#empty_maincart {
  grid-column: 3/4;
  grid-row: 2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close_maincart {
  color: #000;
  font-size: 33px;
  font-weight: bold;
  grid-column: 5/6;
  grid-row: 2;
  margin-left: auto;
  cursor: pointer;
}

.close_maincart:hover {
  color: #f74a5a;
}
.hr_main {
  margin-bottom: 1rem;
  border: 0;
  height: 1px;
  background: #333;
  background-image: none;
  width: 100%;
  grid-column: 1/6;
  grid-row: 2;
  margin-top: -10rem;
}

.knap_section_main {
  display: flex;
  justify-content: space-between;
}

.shop_main {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
}

.checkout_main {
  text-align: center;
  background-color: #2d2d2d;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  height: 38px;
}

/* .....Pop up styling - confirmation ......*/

.pop_up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 105px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: white;
  height: 100vh;
  z-index: 99;
}

.popup_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  background-color: #f4f5f5;
  padding: 20px;
  width: 470px;
  height: 300px;
}

.order_nr {
  display: flex;
  justify-content: center;
}

#order_number_output {
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
}

/* .....Andre klasser ......*/

.block {
  display: block;
}

.vis {
  opacity: 1;
}
.gem {
  opacity: 0;
}

.popup_content h4 {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 1rem;
}
.popup_content p {
  text-align: center;
  font-size: 1.1rem;
}

.knap_section {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/******* Menu - Media@  *********/

@media (min-width: 800px) {
  p {
    font-size: 1.3rem;
  }
  button {
    transition: 0.3s;
  }

  /* main {
      margin-top: 10vh;
    } */

  #menuknap {
    display: none;
  }

  #menu_logo {
    margin: 0;
    position: static;
    max-width: 6rem;
    height: auto;
  }

  .menu {
    position: fixed;
    top: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    height: 10vh;

    margin: 0;
    padding-bottom: 0;
    background-color: black;

    cursor: initial;
    z-index: 20;
  }

  #desktop_punkter {
    display: flex;
  }

  .menu li {
    margin: 1vh;
    font-size: 1rem;
    z-index: 110;
    cursor: pointer;
    list-style: none;
  }

  /* Nulstille .hidden classen */
  .menu.hidden {
    transition: none;
    transform: translateY(0);
    padding-top: 1rem;
    background-color: #0a0a0a;
  }

  .logo_desktop {
    display: inline-block;
    width: 15vw;
    margin-left: -10vh;
  }

  .user,
  .cart {
    /* display: flex; */
    width: 2vw;
    max-width: 3vw;
    margin: 1vh;
    margin-top: 3vh;
  }

  .user {
    margin-right: 2rem;
  }

  .cart {
    padding-right: 4vh;
  }

  .usercart {
    padding-right: 3rem;
  }

  .update_cart {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #ffcc2a;
    text-align: center;
    line-height: 1.3rem;
    margin-left: auto;
    margin-right: 26px;
    top: -4rem;
    position: relative;
  }

  .logo_mobile {
    display: none;
  }
  .menu a {
    transition: 250ms;
  }

  .menu a:hover {
    color: #f74a5a;
    border-bottom: 2px solid #f74a5a;
  }

  /* Dropdown media */
  .dropbtn {
    background-color: #0a0a0a;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: #ffcc2a;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    color: #f74a5a;
    text-decoration: underline;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    background-color: black;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 7vh;
  }

  .dropdown-content a {
    color: #ffcc2a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
}

@media (min-width: 1250px) {
  /*..... Singleview desktop....... */

  #single {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }

  #produkt_img {
    grid-column: 1;
    grid-row: 1/4;
    padding-top: 0rem;
  }

  #single_navn {
    grid-column: 2;
    font-size: 2rem;
    text-align: left;
    margin-bottom: -4rem;
    margin-top: 5rem;
  }

  #produkt_img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .pris_single {
    grid-column: 2/3;
    text-align: left;
    margin-top: 9rem;
  }

  .beskrivelse {
    margin-bottom: 14rem;
  }

  .ui {
    grid-column: 2/3;
    grid-row: 4;
    justify-content: left;
    /* margin-top: -27rem; */
  }

  #oplysninger_section {
    margin-top: 4rem;
  }

  /* #number {
    margin-top: 10.8rem;
  } */
}
